@model MyUni.Web.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDetail.SubmissionDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewRemarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubmissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
