@model IEnumerable<MyUni.Web.Models.Thesis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThesisTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThesisDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThesisTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThesisDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThesisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThesisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThesisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
